.icon

  &.tv:before
    content: "\f1b0"

  &.tv-outline:before
    content: "\f1af"

  &.monitor:before
    content: "\f20a"

  &.laptop:before
    content: "\f1fc"

  &.ipad:before
    content: "\f1f9"

  &.iphone:before
    content: "\f1fa"

  &.ipod:before
    content: "\f1fb"

  &.game-controller-a:before
    content: "\f13b"

  &.game-controller-b:before
    content: "\f13c"


  &.calculator:before
    content: "\f26d"

  &.ios7-calculator:before
    content: "\f285"

  &.ios7-calculator-outline:before
    content: "\f284"

  &.ios7-printer:before
    content: "\f1cd"

  &.ios7-printer-outline:before
    content: "\f1cc"

  &.printer:before
    content: "\f21a"

  &.ios7-camera:before
    content: "\f165"

  &.ios7-camera-outline:before
    content: "\f164"

  &.videocamera:before
    content: "\f256"

  &.camera:before
    content: "\f118"

  &.ios7-videocam:before
    content: "\f1f4"

  &.ios7-videocam-outline:before
    content: "\f1f3"
