.icon
  &.alert:before
    content: "\f101"

  &.alert-circled:before
    content: "\f100"

  &.information:before
    content: "\f14a"

  &.information-circled:before
    content: "\f149"

  &.ios7-information:before
    content: "\f1a1"

  &.ios7-information-empty:before
    content: "\f19f"

  &.ios7-information-outline:before
    content: "\f1a0"

  &.ios7-help:before
    content: "\f19c"

  &.ios7-help-empty:before
    content: "\f19a"

  &.ios7-help-outline:before
    content: "\f19b"

  &.checkmark:before
    content: "\f122"

  &.checkmark-circled:before
    content: "\f120"

  &.checkmark-round:before
    content: "\f121"
