@font-face
  font-family: 'ElegantIcons'
  src:url('atoms.elegant.icons.eot')
  src:url('atoms.elegant.icons.ttf') format('truetype')
  font-weight: normal
  font-style: normal

[data-icon], .icon
  font-family: 'ElegantIcons'
  speak: none
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before
  content: attr(data-icon)

.icon
  /* ARROWS */
  &.up:before
    content: "\21"

  &.down:before
    content: "\22"

  &.left:before
    content: "\23"

  &.right:before
    content: "\24"

  &.left-up:before
    content: "\25"

  &.right-up:before
    content: "\26"

  &.right-down:before
    content: "\27"

  &.left-down:before
    content: "\28"

  &.up-down:before
    content: "\29"

  &.up-down_alt:before
    content: "\2a"

  &.left-right_alt:before
    content: "\2b"

  &.left-right:before
    content: "\2c"

  &.expand_alt2:before
    content: "\2d"

  &.expand_alt:before
    content: "\2e"

  &.condense:before
    content: "\2f"

  &.expand:before
    content: "\30"

  &.move:before
    content: "\31"

  &.carrot-up:before
    content: "\32"

  &.carrot-down:before
    content: "\33"

  &.carrot-left:before
    content: "\34"

  &.carrot-right:before
    content: "\35"

  &.carrot-2up:before
    content: "\36"

  &.carrot-2down:before
    content: "\37"

  &.carrot-2left:before
    content: "\38"

  &.carrot-2right:before
    content: "\39"

  &.carrot-up_alt2:before
    content: "\3a"

  &.carrot-down_alt2:before
    content: "\3b"

  &.carrot-left_alt2:before
    content: "\3c"

  &.carrot-right_alt2:before
    content: "\3d"

  &.carrot-2up_alt2:before
    content: "\3e"

  &.carrot-2down_alt2:before
    content: "\3f"

  &.carrot-2left_alt2:before
    content: "\40"

  &.carrot-2right_alt2:before
    content: "\41"

  &.triangle-up:before
    content: "\42"

  &.triangle-down:before
    content: "\43"

  &.triangle-left:before
    content: "\44"

  &.triangle-right:before
    content: "\45"

  &.triangle-up_alt2:before
    content: "\46"

  &.triangle-down_alt2:before
    content: "\47"

  &.triangle-left_alt2:before
    content: "\48"

  &.triangle-right_alt2:before
    content: "\49"

  &.back:before
    content: "\4a"


  /* OPERATIONS */
  &.minus:before
    content: "\4b"

  &.plus:before
    content: "\4c"

  &.close:before
    content: "\4d"

  &.check:before
    content: "\4e"

  &.minus_alt2:before
    content: "\4f"

  &.plus_alt2:before
    content: "\50"

  &.close_alt2:before
    content: "\51"

  &.check_alt2:before
    content: "\52"

  &.zoom-out_alt:before
    content: "\53"

  &.zoom-in_alt:before
    content: "\54"

  &.search:before
    content: "\55"

  &.box-empty:before
    content: "\56"

  &.box-selected:before
    content: "\57"

  &.minus-box:before
    content: "\58"

  &.plus-box:before
    content: "\59"

  &.box-checked:before
    content: "\5a"

  &.circle-empty:before
    content: "\5b"

  &.circle-slelected:before
    content: "\5c"

  &.stop_alt2:before
    content: "\5d"

  &.stop:before
    content: "\5e"

  &.pause_alt2:before
    content: "\5f"

  &.pause:before
    content: "\60"

  &.menu:before
    content: "\61"

  &.menu-square_alt2:before
    content: "\62"

  &.menu-circle_alt2:before
    content: "\63"

  &.ul:before
    content: "\64"

  &.ol:before
    content: "\65"

  &.adjust-horiz:before
    content: "\66"

  &.adjust-vert:before
    content: "\67"

  &.document_alt:before
    content: "\68"

  &.documents_alt:before
    content: "\69"

  &.pencil:before
    content: "\6a"

  &.pencil-edit_alt:before
    content: "\6b"

  &.pencil-edit:before
    content: "\6c"

  &.folder-alt:before
    content: "\6d"

  &.folder-open_alt:before
    content: "\6e"

  &.folder-add_alt:before
    content: "\6f"

  &.info_alt:before
    content: "\70"

  &.error-oct_alt:before
    content: "\71"

  &.error-circle_alt:before
    content: "\72"

  &.error-triangle_alt:before
    content: "\73"

  &.question_alt2:before
    content: "\74"

  &.question:before
    content: "\75"

  &.comment_alt:before
    content: "\76"

  &.chat_alt:before
    content: "\77"

  &.vol-mute_alt:before
    content: "\78"

  &.volume-low_alt:before
    content: "\79"

  &.volume-high_alt:before
    content: "\7a"

  &.quotations:before
    content: "\7b"

  &.quotations_alt2:before
    content: "\7c"

  &.clock_alt:before
    content: "\7d"

  &.lock_alt:before
    content: "\7e"

  &.lock-open_alt:before
    content: "\e000"

  &.key_alt:before
    content: "\e001"

  &.cloud_alt:before
    content: "\e002"

  &.cloud-upload_alt:before
    content: "\e003"

  &.cloud-download_alt:before
    content: "\e004"

  &.image:before
    content: "\e005"

  &.images:before
    content: "\e006"

  &.lightbulb_alt:before
    content: "\e007"

  &.gift_alt:before
    content: "\e008"

  &.house_alt:before
    content: "\e009"

  &.genius:before
    content: "\e00a"

  &.mobile:before
    content: "\e00b"

  &.tablet:before
    content: "\e00c"

  &.laptop:before
    content: "\e00d"

  &.desktop:before
    content: "\e00e"

  &.camera_alt:before
    content: "\e00f"

  &.mail_alt:before
    content: "\e010"

  &.cone_alt:before
    content: "\e011"

  &.ribbon_alt:before
    content: "\e012"

  &.bag_alt:before
    content: "\e013"

  &.creditcard:before
    content: "\e014"

  &.cart_alt:before
    content: "\e015"

  &.paperclip:before
    content: "\e016"

  &.tag_alt:before
    content: "\e017"

  &.tags_alt:before
    content: "\e018"

  &.trash_alt:before
    content: "\e019"

  &.cursor_alt:before
    content: "\e01a"

  &.mic_alt:before
    content: "\e01b"

  &.compass_alt:before
    content: "\e01c"

  &.pin_alt:before
    content: "\e01d"

  &.pushpin_alt:before
    content: "\e01e"

  &.map_alt:before
    content: "\e01f"

  &.drawer_alt:before
    content: "\e020"

  &.toolbox_alt:before
    content: "\e021"

  &.book_alt:before
    content: "\e022"

  &.calendar:before
    content: "\e023"

  &.film:before
    content: "\e024"

  &.table:before
    content: "\e025"

  &.contacts_alt:before
    content: "\e026"

  &.headphones:before
    content: "\e027"

  &.lifesaver:before
    content: "\e028"

  &.piechart:before
    content: "\e029"

  &.refresh:before
    content: "\e02a"

  &.link_alt:before
    content: "\e02b"

  &.link:before
    content: "\e02c"

  &.loading:before
    content: "\e02d"

  &.blocked:before
    content: "\e02e"

  &.archive_alt:before
    content: "\e02f"

  &.heart_alt:before
    content: "\e030"

  &.star_alt:before
    content: "\e031"

  &.star-half_alt:before
    content: "\e032"

  &.star:before
    content: "\e033"

  &.star-half:before
    content: "\e034"

  &.tools:before
    content: "\e035"

  &.tool:before
    content: "\e036"

  &.cog:before
    content: "\e037"

  &.cogs:before
    content: "\e038"

  &.up_alt:before
    content: "\e039"

  &.down_alt:before
    content: "\e03a"

  &.left_alt:before
    content: "\e03b"

  &.right_alt:before
    content: "\e03c"

  &.left-up_alt:before
    content: "\e03d"

  &.right-up_alt:before
    content: "\e03e"

  &.right-down_alt:before
    content: "\e03f"

  &.left-down_alt:before
    content: "\e040"

  &.condense_alt:before
    content: "\e041"

  &.expand_alt3:before
    content: "\e042"

  &.carrot_up_alt:before
    content: "\e043"

  &.carrot-down_alt:before
    content: "\e044"

  &.carrot-left_alt:before
    content: "\e045"

  &.carrot-right_alt:before
    content: "\e046"

  &.carrot-2up_alt:before
    content: "\e047"

  &.carrot-2dwnn_alt:before
    content: "\e048"

  &.carrot-2left_alt:before
    content: "\e049"

  &.carrot-2right_alt:before
    content: "\e04a"

  &.triangle-up_alt:before
    content: "\e04b"

  &.triangle-down_alt:before
    content: "\e04c"

  &.triangle-left_alt:before
    content: "\e04d"

  &.triangle-right_alt:before
    content: "\e04e"




  &.minus_alt:before
    content: "\e04f"

  &.plus_alt:before
    content: "\e050"

  &.close_alt:before
    content: "\e051"

  &.check_alt:before
    content: "\e052"

  &.zoom-out:before
    content: "\e053"

  &.zoom-in:before
    content: "\e054"

  &.stop_alt:before
    content: "\e055"

  &.menu-square_alt:before
    content: "\e056"

  &.menu-circle_alt:before
    content: "\e057"

  &.document:before
    content: "\e058"

  &.documents:before
    content: "\e059"

  &.pencil_alt:before
    content: "\e05a"

  &.folder:before
    content: "\e05b"

  &.folder-open:before
    content: "\e05c"

  &.folder-add:before
    content: "\e05d"

  &.folder_upload:before
    content: "\e05e"

  &.folder_download:before
    content: "\e05f"

  &.info:before
    content: "\e060"

  &.error-circle:before
    content: "\e061"

  &.error-oct:before
    content: "\e062"

  &.error-triangle:before
    content: "\e063"

  &.question_alt:before
    content: "\e064"

  &.comment:before
    content: "\e065"

  &.chat:before
    content: "\e066"

  &.vol-mute:before
    content: "\e067"

  &.volume-low:before
    content: "\e068"

  &.volume-high:before
    content: "\e069"

  &.quotations_alt:before
    content: "\e06a"

  &.clock:before
    content: "\e06b"

  &.lock:before
    content: "\e06c"

  &.lock-open:before
    content: "\e06d"

  &.key:before
    content: "\e06e"

  &.cloud:before
    content: "\e06f"

  &.cloud-upload:before
    content: "\e070"

  &.cloud-download:before
    content: "\e071"

  &.lightbulb:before
    content: "\e072"

  &.gift:before
    content: "\e073"

  &.house:before
    content: "\e074"

  &.camera:before
    content: "\e075"

  &.mail:before
    content: "\e076"

  &.cone:before
    content: "\e077"

  &.ribbon:before
    content: "\e078"

  &.bag:before
    content: "\e079"

  &.cart:before
    content: "\e07a"

  &.tag:before
    content: "\e07b"

  &.tags:before
    content: "\e07c"

  &.trash:before
    content: "\e07d"

  &.cursor:before
    content: "\e07e"

  &.mic:before
    content: "\e07f"

  &.compass:before
    content: "\e080"

  &.pin:before
    content: "\e081"

  &.pushpin:before
    content: "\e082"

  &.map:before
    content: "\e083"

  &.drawer:before
    content: "\e084"

  &.toolbox:before
    content: "\e085"

  &.book:before
    content: "\e086"

  &.contacts:before
    content: "\e087"

  &.archive:before
    content: "\e088"

  &.heart:before
    content: "\e089"

  &.profile:before
    content: "\e08a"

  &.group:before
    content: "\e08b"

  &.grid-2x2:before
    content: "\e08c"

  &.grid-3x3:before
    content: "\e08d"

  &.music:before
    content: "\e08e"

  &.pause_alt:before
    content: "\e08f"

  &.phone:before
    content: "\e090"

  &.upload:before
    content: "\e091"

  &.download:before
    content: "\e092"

  &.facebook:before
    content: "\e093"

  &.twitter:before
    content: "\e094"

  &.pinterest:before
    content: "\e095"

  &.googleplus:before
    content: "\e096"

  &.tumblr:before
    content: "\e097"

  &.tumbleupon:before
    content: "\e098"

  &.wordpress:before
    content: "\e099"

  &.instagram:before
    content: "\e09a"

  &.dribbble:before
    content: "\e09b"

  &.vimeo:before
    content: "\e09c"

  &.linkedin:before
    content: "\e09d"

  &.rss:before
    content: "\e09e"

  &.deviantart:before
    content: "\e09f"

  &.share:before
    content: "\e0a0"

  &.myspace:before
    content: "\e0a1"

  &.skype:before
    content: "\e0a2"

  &.youtube:before
    content: "\e0a3"

  &.picassa:before
    content: "\e0a4"

  &.googledrive:before
    content: "\e0a5"

  &.flickr:before
    content: "\e0a6"

  &.blogger:before
    content: "\e0a7"

  &.spotify:before
    content: "\e0a8"

  &.delicious:before
    content: "\e0a9"

  &.facebook_circle:before
    content: "\e0aa"

  &.twitter_circle:before
    content: "\e0ab"

  &.pinterest_circle:before
    content: "\e0ac"

  &.googleplus_circle:before
    content: "\e0ad"

  &.tumblr_circle:before
    content: "\e0ae"

  &.stumbleupon_circle:before
    content: "\e0af"

  &.wordpress_circle:before
    content: "\e0b0"

  &.instagram_circle:before
    content: "\e0b1"

  &.dribbble_circle:before
    content: "\e0b2"

  &.vimeo_circle:before
    content: "\e0b3"

  &.linkedin_circle:before
    content: "\e0b4"

  &.rss_circle:before
    content: "\e0b5"

  &.deviantart_circle:before
    content: "\e0b6"

  &.share_circle:before
    content: "\e0b7"

  &.myspace_circle:before
    content: "\e0b8"

  &.skype_circle:before
    content: "\e0b9"

  &.youtube_circle:before
    content: "\e0ba"

  &.picassa_circle:before
    content: "\e0bb"

  &.googledrive_alt2:before
    content: "\e0bc"

  &.flickr_circle:before
    content: "\e0bd"

  &.blogger_circle:before
    content: "\e0be"

  &.spotify_circle:before
    content: "\e0bf"

  &.delicious_circle:before
    content: "\e0c0"

  &.facebook_square:before
    content: "\e0c1"

  &.twitter_square:before
    content: "\e0c2"

  &.pinterest_square:before
    content: "\e0c3"

  &.googleplus_square:before
    content: "\e0c4"

  &.tumblr_square:before
    content: "\e0c5"

  &.stumbleupon_square:before
    content: "\e0c6"

  &.wordpress_square:before
    content: "\e0c7"

  &.instagram_square:before
    content: "\e0c8"

  &.dribbble_square:before
    content: "\e0c9"

  &.vimeo_square:before
    content: "\e0ca"

  &.linkedin_square:before
    content: "\e0cb"

  &.rss_square:before
    content: "\e0cc"

  &.deviantart_square:before
    content: "\e0cd"

  &.share_square:before
    content: "\e0ce"

  &.myspace_square:before
    content: "\e0cf"

  &.skype_square:before
    content: "\e0d0"

  &.youtube_square:before
    content: "\e0d1"

  &.picassa_square:before
    content: "\e0d2"

  &.googledrive_square:before
    content: "\e0d3"

  &.flickr_square:before
    content: "\e0d4"

  &.blogger_square:before
    content: "\e0d5"

  &.spotify_square:before
    content: "\e0d6"

  &.delicious_square:before
    content: "\e0d7"

  &.printer:before
    content: "\e103"

  &.calulator:before
    content: "\e0ee"

  &.building:before
    content: "\e0ef"

  &.floppy:before
    content: "\e0e8"

  &.drive:before
    content: "\e0ea"

  &.search-2:before
    content: "\e101"

  &.id:before
    content: "\e107"

  &.id-2:before
    content: "\e108"

  &.puzzle:before
    content: "\e102"

  &.like:before
    content: "\e106"

  &.dislike:before
    content: "\e0eb"

  &.mug:before
    content: "\e105"

  &.currency:before
    content: "\e0ed"

  &.wallet:before
    content: "\e100"

  &.pens:before
    content: "\e104"

  &.easel:before
    content: "\e0e9"

  &.flowchart:before
    content: "\e109"

  &.datareport:before
    content: "\e0ec"

  &.briefcase:before
    content: "\e0fe"

  &.shield:before
    content: "\e0f6"

  &.percent:before
    content: "\e0fb"

  &.globe:before
    content: "\e0e2"

  &.globe-2:before
    content: "\e0e3"

  &.target:before
    content: "\e0f5"

  &.hourglass:before
    content: "\e0e1"

  &.balance:before
    content: "\e0ff"

  &.rook:before
    content: "\e0f8"

  &.printer-alt:before
    content: "\e0fa"

  &.calculator_alt:before
    content: "\e0e7"

  &.building_alt:before
    content: "\e0fd"

  &.floppy_alt:before
    content: "\e0e4"

  &.drive_alt:before
    content: "\e0e5"

  &.search_alt:before
    content: "\e0f7"

  &.id_alt:before
    content: "\e0e0"

  &.id-2_alt:before
    content: "\e0fc"

  &.puzzle_alt:before
    content: "\e0f9"

  &.like_alt:before
    content: "\e0dd"

  &.dislike_alt:before
    content: "\e0f1"

  &.mug_alt:before
    content: "\e0dc"

  &.currency_alt:before
    content: "\e0f3"

  &.wallet_alt:before
    content: "\e0d8"

  &.pens_alt:before
    content: "\e0db"

  &.easel_alt:before
    content: "\e0f0"

  &.flowchart_alt:before
    content: "\e0df"

  &.datareport_alt:before
    content: "\e0f2"

  &.briefcase_alt:before
    content: "\e0f4"

  &.shield_alt:before
    content: "\e0d9"

  &.percent_alt:before
    content: "\e0da"

  &.globe_alt:before
    content: "\e0de"

  &.clipboard:before
    content: "\e0e6"
