.icon
  &.alert:before
    content: "\f101"

  &.alert-circled:before
    content: "\f100"

  &.information:before
    content: "\f14a"

  &.information-circled:before
    content: "\f149"

  &.ios7-information:before
    content: "\f1a1"

  &.ios7-information-empty:before
    content: "\f19f"

  &.ios7-information-outline:before
    content: "\f1a0"

  &.ios7-help:before
    content: "\f19c"

  &.ios7-help-empty:before
    content: "\f19a"

  &.ios7-help-outline:before
    content: "\f19b"

  &.checkmark:before
    content: "\f122"

  &.checkmark-circled:before
    content: "\f120"

  &.checkmark-round:before
    content: "\f121"

  &.ios7-plus:before
    content: "\f1cb"

  &.ios7-plus-empty:before
    content: "\f1c9"

  &.ios7-plus-outline:before
    content: "\f1ca"

  &.plus:before
    content: "\f218"

  &.plus-circled:before
    content: "\f216"

  &.plus-round:before
    content: "\f217"

  &.ios7-minus:before
    content: "\f1ae"

  &.ios7-minus-empty:before
    content: "\f1ac"

  &.ios7-minus-outline:before
    content: "\f1ad"

  &.minus:before
    content: "\f209"

  &.minus-circled:before
    content: "\f207"

  &.minus-round:before
    content: "\f208"

  &.ios7-checkmark:before
    content: "\f16e"

  &.ios7-checkmark-empty:before
    content: "\f16c"

  &.ios7-checkmark-outline:before
    content: "\f16d"

  &.help:before
    content: "\f143"

  &.help-buoy:before
    content: "\f27c"

  &.help-circled:before
    content: "\f142"
