.icon
  &.play:before
    content: "\f215"

  &.ios7-play:before
    content: "\f1c8"

  &.ios7-play-outline:before
    content: "\f1c7"

  &.pause:before
    content: "\f210"

  &.ios7-pause:before
    content: "\f1be"

  &.ios7-pause-outline:before
    content: "\f1bd"

  &.ios7-skipbackward:before
    content: "\f1dc"

  &.ios7-skipbackward-outline:before
    content: "\f1db"

  &.ios7-skipforward:before
    content: "\f1de"

  &.ios7-skipforward-outline:before
    content: "\f1dd"

  &.skip-backward:before
    content: "\f222"

  &.skip-forward:before
    content: "\f223"

  &.ios7-rewind:before
    content: "\f1d8"

  &.ios7-rewind-outline:before
    content: "\f1d7"

  &.ios7-fastforward:before
    content: "\f18b"

  &.ios7-fastforward-outline:before
    content: "\f18a"

  &.ios7-volume-high:before
    content: "\f1f5"

  &.ios7-volume-low:before
    content: "\f1f6"

  &.volume-high:before
    content: "\f257"

  &.volume-low:before
    content: "\f258"

  &.volume-medium:before
    content: "\f259"

  &.volume-mute:before
    content: "\f25a"

  &.eject:before
    content: "\f131"

  &.shuffle:before
    content: "\f221"
