.icon
  &.beaker:before
    content: "\f269"

  &.beer:before
    content: "\f26a"

  &.leaf:before
    content: "\f1fd"

  &.wineglass:before
    content: "\f2b9"

  &.ios7-wineglass:before
    content: "\f294"

  &.ios7-wineglass-outline:before
    content: "\f293"

  &.knife:before
    content: "\f297"

  &.fork:before
    content: "\f27a"

  &.spoon:before
    content: "\f2b4"

  &.hammer:before
    content: "\f27b"

  &.pizza:before
    content: "\f2a8"

  &.plane:before
    content: "\f214"

  &.jet:before
    content: "\f295"

  &.thermometer:before
    content: "\f2b6"

  &.card:before
    content: "\f119"

  &.bag:before
    content: "\f110"

  &.egg:before
    content: "\f277"

  &.ios7-medkit:before
    content: "\f289"

  &.ios7-medkit-outline:before
    content: "\f288"

  &.medkit:before
    content: "\f2a2"
