.icon
  &.people:before
    content: "\f1c0"

  &.people-outline:before
    content: "\f1bf"

  &.person:before
    content: "\f1c2"

  &.person-outline:before
    content: "\f1c1"

  &.personadd:before
    content: "\f1c4"

  &.personadd-outline:before
    content: "\f1c3"

  &.contact:before
    content: "\f180"

  &.contact-outline:before
    content: "\f17f"

  &.man:before
    content: "\f202"

  &.woman:before
    content: "\f25d"

  &.person-b:before
    content: "\f213"

  &.person-b-add:before
    content: "\f211"

  &.people-b:before
    content: "\f212"

  &.female:before
    content: "\f278"

  &.male:before
    content: "\f2a1"
