.icon
  &.arrow-down:before
    content: "\f123"

  &.arrow-left:before
    content: "\f124"

  &.arrow-right:before
    content: "\f125"

  &.arrow-up:before
    content: "\f126"

  &.arrow-down-a:before
    content: "\f103"

  &.arrow-down-b:before
    content: "\f104"

  &.arrow-down-c:before
    content: "\f105"

  &.arrow-expand:before
    content: "\f25e"

  &.arrow-graph-down-left:before
    content: "\f25f"

  &.arrow-graph-down-right:before
    content: "\f260"

  &.arrow-graph-up-left:before
    content: "\f261"

  &.arrow-graph-up-right:before
    content: "\f262"

  &.arrow-left-a:before
    content: "\f106"

  &.arrow-left-b:before
    content: "\f107"

  &.arrow-left-c:before
    content: "\f108"

  &.arrow-move:before
    content: "\f263"

  &.arrow-resize:before
    content: "\f264"

  &.arrow-return-left:before
    content: "\f265"

  &.arrow-return-right:before
    content: "\f266"

  &.arrow-right-a:before
    content: "\f109"

  &.arrow-right-b:before
    content: "\f10a"

  &.arrow-right-c:before
    content: "\f10b"

  &.arrow-shrink:before
    content: "\f267"

  &.arrow-swap:before
    content: "\f268"

  &.arrow-up-a:before
    content: "\f10c"

  &.arrow-up-b:before
    content: "\f10d"

  &.arrow-up-c:before
    content: "\f10e"


  &.arrow-down-d:before
    content: "\f27e"

  &.arrow-left-d:before
    content: "\f27f"

  &.arrow-right-d:before
    content: "\f280"

  &.arrow-up-d:before
    content: "\f281"
