.icon
  &.back:before
    content: "\f150"

  &.down:before
    content: "\f151"

  &.forward:before
    content: "\f152"

  &.left:before
    content: "\f153"

  &.right:before
    content: "\f154"

  &.up:before
    content: "\f155"
