@import "__vendor.styl"
.icon
  &.loading-a:before
    content: "\f29a"

  &.loading-b:before
    content: "\f29b"

  &.loading-c:before
    content: "\f29c"

  &.loading-d:before
    content: "\f29d"

  &.loading-e:before
    content: "\f1a2"

  &.loading-a, &.loading-b, &.loading-c, &.loading-d, &.loading-e,&.looping, &.refreshing, &.ios7-reloading
    transform-origin: 50% 50%
    animation loading-spin 2s infinite linear

@keyframes loading-spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)
