.icon
  &.icon-social-google-plus:before
    content: "\f146"

  &.icon-social-google-plus-outline:before
    content: "\f145"

  &.social-android:before
    content: "\f225"

  &.social-android-outline:before
    content: "\f224"

  &.social-apple:before
    content: "\f227"

  &.social-apple-outline:before
    content: "\f226"

  &.social-bitcoin:before
    content: "\f2af"

  &.social-bitcoin-outline:before
    content: "\f2ae"

  &.social-buffer:before
    content: "\f229"

  &.social-buffer-outline:before
    content: "\f228"

  &.social-designernews:before
    content: "\f22b"

  &.social-designernews-outline:before
    content: "\f22a"

  &.social-dribbble:before
    content: "\f22d"

  &.social-dribbble-outline:before
    content: "\f22c"

  &.social-dropbox:before
    content: "\f22f"

  &.social-dropbox-outline:before
    content: "\f22e"

  &.social-facebook:before
    content: "\f231"

  &.social-facebook-outline:before
    content: "\f230"

  &.social-github:before
    content: "\f233"

  &.social-github-outline:before
    content: "\f232"

  &.social-googleplus:before
    content: "\f235"

  &.social-googleplus-outline:before
    content: "\f234"

  &.social-hackernews:before
    content: "\f237"

  &.social-hackernews-outline:before
    content: "\f236"

  &.social-linkedin:before
    content: "\f239"

  &.social-linkedin-outline:before
    content: "\f238"

  &.social-pinterest:before
    content: "\f2b1"

  &.social-pinterest-outline:before
    content: "\f2b0"

  &.social-reddit:before
    content: "\f23b"

  &.social-reddit-outline:before
    content: "\f23a"

  &.social-rss:before
    content: "\f23d"

  &.social-rss-outline:before
    content: "\f23c"

  &.social-skype:before
    content: "\f23f"

  &.social-skype-outline:before
    content: "\f23e"

  &.social-tumblr:before
    content: "\f241"

  &.social-tumblr-outline:before
    content: "\f240"

  &.social-twitter:before
    content: "\f243"

  &.social-twitter-outline:before
    content: "\f242"

  &.social-vimeo:before
    content: "\f245"

  &.social-vimeo-outline:before
    content: "\f244"

  &.social-windows:before
    content: "\f247"

  &.social-windows-outline:before
    content: "\f246"

  &.social-wordpress:before
    content: "\f249"

  &.social-wordpress-outline:before
    content: "\f248"

  &.social-yahoo:before
    content: "\f24b"

  &.social-yahoo-outline:before
    content: "\f24a"

  &.social-youtube:before
    content: "\f24d"

  &.social-youtube-outline:before
    content: "\f24c"
